.top-mainttl,h1.site-keyword{
	font-family:HelveticaNeue-Thin,"Helvetica Neue Thin",Helvetica,Arial,sans-serif!important;
	color:#303030;
	font-weight:400;
	text-align:center
}

.top-bnr--devide2::after,.top-bnr--devide3::after,.top-bnr--devide4::after{
	clear:both;
	content:""
}

html{
	box-sizing:border-box
}

*,::after,::before{
	box-sizing:inherit
}

@font-face{
	font-family:istokweb_regular;
	src:url(/assets/fonts/istokweb/istokweb-regular-webfont-bad40b3bfa.eot);
	src:url(/assets/fonts/istokweb/istokweb-regular-webfont-bad40b3bfa.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/istokweb/istokweb-regular-webfont-a6b00856ea.woff) format("woff"),url(/assets/fonts/istokweb/istokweb-regular-webfont-bcaf1d252f.ttf) format("truetype"),url(/assets/fonts/istokweb/istokweb-regular-webfont-ec90a3a65e.svg#istokweb_regular) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:istokweb_bold;
	src:url(/assets/fonts/istokweb/istokweb-bold-webfont-bbd289b62b.eot);
	src:url(/assets/fonts/istokweb/istokweb-bold-webfont-bbd289b62b.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/istokweb/istokweb-bold-webfont-9a6b7bf241.woff) format("woff"),url(/assets/fonts/istokweb/istokweb-bold-webfont-7f295368d0.ttf) format("truetype"),url(/assets/fonts/istokweb/istokweb-bold-webfont-49a4cc1484.svg#istokweb_bold) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:Oswald-Regular;
	src:url(/assets/fonts/oswald/oswald-regular-webfont-931609e844.eot);
	src:url(/assets/fonts/oswald/oswald-regular-webfont-931609e844.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/oswald/oswald-regular-webfont-c63a279c04.woff) format("woff"),url(/assets/fonts/oswald/oswald-regular-webfont-79121d4c83.ttf) format("truetype"),url(/assets/fonts/oswald/oswald-regular-webfont-75fb13d0be.svg#oswaldregular) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:Oswald-Light;
	src:url(/assets/fonts/oswald/oswald-light-webfont-88d02bd965.eot);
	src:url(/assets/fonts/oswald/oswald-light-webfont-88d02bd965.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/oswald/oswald-light-webfont-5e4e799710.woff) format("woff"),url(/assets/fonts/oswald/oswald-light-webfont-326615ca34.ttf) format("truetype"),url(/assets/fonts/oswald/oswald-light-webfont-9c27c0cc07.svg#oswaldlight) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:Oswald-Bold;
	src:url(/assets/fonts/oswald/oswald-bold-webfont-7bf87061b8.eot);
	src:url(/assets/fonts/oswald/oswald-bold-webfont-7bf87061b8.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/oswald/oswald-bold-webfont-0cf8564d8a.woff) format("woff"),url(/assets/fonts/oswald/oswald-bold-webfont-aeed92ccac.ttf) format("truetype"),url(/assets/fonts/oswald/oswald-bold-webfont-5b7c81938e.svg#oswaldbold) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:MinionPro-Regular;
	src:url(/assets/fonts/minion/minionpro-regular-6d9c4b8652.eot);
	src:url(/assets/fonts/minion/minionpro-regular-6d9c4b8652.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/minion/minionpro-regular-d7f6126e46.woff) format("woff"),url(/assets/fonts/minion/minionpro-regular-10f6a18a64.ttf) format("truetype"),url(/assets/fonts/minion/minionpro-regular-cc6c1f1aaa.svg) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:icon;
	src:url(/assets/fonts/icon/icomoon-c6e17a3218.eot?100);
	src:url(/assets/fonts/icon/icomoon-c6e17a3218.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/icon/icomoon-127fe9ee78.woff?100) format("woff"),url(/assets/fonts/icon/icomoon-a04f8679c1.ttf?100) format("truetype"),url(/assets/fonts/icon/icomoon-9dc6f7772b.svg#icomoon?100) format("svg");
	font-weight:400;
	font-style:normal
}

.bmg-l-layout--full{
	padding-top:0
}

h1.site-keyword{
	font-size:1.6rem
}

@media screen and (max-width:480px){
	h1.site-keyword{
		font-size:1.4rem
	}

}

.top-mainttl{
	font-size:3rem;
	margin:3rem 0 0
}

.top-bnr--devide2,.top-bnr--devide3,.top-bnr--devide4{
	max-width:100%;
	margin-left:auto
}

@media screen and (max-width:480px){
	.top-mainttl{
		font-size:2rem
	}

}

h2.bmg-u-sectionttl{
	border-top:1px solid #000;
	text-align:center;
	height:3.5rem;
	font-size:3rem;
	margin-top:6rem
}

h2.bmg-u-sectionttl span{
	font-weight:400;
	font-family:Oswald,sans-serif;
	position:relative;
	top:-1.7rem;
	padding:0 4rem;
	background:#f9f9f9
}

@media screen and (max-width:480px){
	h2.bmg-u-sectionttl{
		margin-top:3rem;
		font-size:2rem;
		height:2.5rem
	}

	h2.bmg-u-sectionttl span{
		top:-1.2rem;
		padding:0 1rem
	}

}

.top-bnr--ttl{
	text-align:center;
	margin-top:6rem
}

@media screen and (max-width:480px){
	.top-bnr--ttl{
		margin-top:3rem
	}

}

.top-bnr--devide2{
	margin-right:auto;
	margin-bottom:2rem
}

.top-bnr--devide2::after{
	display:table
}

.top-bnr--devide2 .top-bnr--img{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:48.82117%
}

.top-bnr--devide2 .top-bnr--img:last-child{
	margin-right:0
}

@media screen and (max-width:768px){
	.top-bnr--devide2{
		margin-bottom:0
	}

	.top-bnr--devide2 .top-bnr--img{
		margin-bottom:1rem;
		width:100%
	}

}

.top-bnr--devide3{
	margin-right:auto;
	margin-bottom:2rem
}

.top-bnr--devide3::after{
	display:table
}

.top-bnr--devide3 .top-bnr--img{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:31.76157%
}

.top-bnr--devide3 .top-bnr--img:last-child{
	margin-right:0
}

@media screen and (max-width:768px){
	.top-bnr--devide3{
		margin-bottom:0
	}

	.top-bnr--devide3 .top-bnr--img{
		margin-bottom:1rem;
		width:100%
	}

}

.top-bnr--devide4{
	margin-right:auto;
	margin-bottom:2rem
}

.top-bnr--devide4::after{
	display:table
}

.top-bnr--devide4 .top-bnr--img{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:23.23176%
}

.top-bnr--devide4 .top-bnr--img:last-child{
	margin-right:0
}

@media screen and (max-width:1024px){
	.top-bnr--devide4{
		margin-bottom:0
	}

	.top-bnr--devide4 .top-bnr--img{
		float:left;
		display:block;
		margin-right:2.84259%;
		width:48.57871%;
		margin-bottom:1rem
	}

	.top-bnr--devide4 .top-bnr--img:last-child,.top-bnr--devide4 .top-bnr--img:nth-child(2n){
		margin-right:0
	}

	.top-bnr--devide4 .top-bnr--img:nth-child(2n+1){
		clear:left
	}

}

@media screen and (max-width:768px){
	.top-bnr--devide4 .top-bnr--img{
		margin-bottom:1rem;
		width:100%
	}

}
